*{
	margin: 0;
	padding: 0;
	font-family: system-ui;    
}

#main_div{
	display: flex;
	width: 100%;
	justify-content: space-around;
	padding-top: 30px;
	background-color: #f1ebeb;
	height: 100vh;
	
}
.cards{
	width: 25%;
    height: 450px;
    display: grid;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 3px 6px 1px #635f5f;
    grid-template-rows: 215px 0px 50px 110px 0px;
}
img{
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    min-height: 211px;
    grid-column: 1/5;
    grid-row: 1/4;
    border-radius: 5px 5px 0px 0px;
}
h1{
	grid-column: 1/5;
    grid-row: 3/3;
    font-weight: 400;
    font-size: 25px;
    padding-left: 20px;
}
p{
    grid-column: 1/5;
    grid-row: 4/4;
    text-align: left;
    line-height: 1.7;
    padding-left: 20px;
    border-bottom: 1px solid #c4c4b8;
    color: #a3a39b;
}
a{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    padding: 20px;
    color: #0ba5a5;
    grid-row: 6/6;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-content: flex-end;
}
i{
	color: #0ba5a5;
    grid-column: 3/3;
    grid-row: 6/6;
    padding: 15px;
    cursor: pointer;
}
.i1{
	color: #0ba5a5;
    padding: 15px;
    grid-column: 4/4;
    grid-row: 6/6;
}
